<%= form_tag search_list_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control w-25",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= @list.name%>
<% @list.reviews.each do |review|%>
  <p><%= review.rating%> - <%= review.content%></p>
<%end%>
<% @list.bookmarks.each do |bookmark|%>
  <p><%= bookmark.comment%></p>
  <p><%= bookmark.movie.title%></p>
  <%= link_to "Delete #{bookmark.comment}",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to "Back", lists_path %>

<h3>Add A New Review</h3>
    <%= simple_form_for([@list, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit%>
    <% end %>

<h3>Add A New Movie</h3>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, input_html: { class: 'select2' }%>
      <%= f.button :submit %>
    <% end %>
